.home{
    font-size:.2rem;
}
.content{
    background: white;
    width:100%;
    height:calc( 100vh + 80px );
}
.tab_bar{
    display:flex;
    justify-content:space-around;
    position: fixed;; 
    height: .4rem;
    width: 100%;
    bottom:0;
    left:0;
}
.nav_bar{
    background:blue;
    position: relative;
    z-index:1;
}
.tab{
    text-align: center;
}
.text{
    font-size:.12rem
}
.am-navbar.am-navbar-light{
    background: #26A2FF;
    color:white;
}
